# 1. Numpy 기초

* 라이브러리 임포트

In [2]:
import numpy as np

* Array 정의 및 사용하기

In [2]:
data1= [1,2,3,4,5,6]
data1

[1, 2, 3, 4, 5, 6]

In [3]:
type(data1)

list

In [4]:
data2 = [10,9.9, 9.5, 10, 7.2, 8.0]
data2

[10, 9.9, 9.5, 10, 7.2, 8.0]

#### np는 행렬(array) 아닌가요?
numpy를 array로 정의하기
위에서 만든 list를 이용

In [5]:
arr1 = np.array(data1)
arr1

array([1, 2, 3, 4, 5, 6])

In [6]:
arr2 = np.array(data2)
arr2

array([10. ,  9.9,  9.5, 10. ,  7.2,  8. ])

In [7]:
type(arr1)

numpy.ndarray

* array의 크기를 확인 하기

In [8]:
arr1.shape

(6,)

* numpy 함수 알아보기  
zeros(), ones(), arange()

In [9]:
np.zeros((3,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [10]:
np.ones((2,7))

array([[1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.]])

In [11]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [12]:
np.arange(3,10)

array([3, 4, 5, 6, 7, 8, 9])

* Array 연산

In [13]:
arr1 + arr2

array([11. , 11.9, 12.5, 14. , 12.2, 14. ])

In [14]:
arr1 * arr2

array([10. , 19.8, 28.5, 40. , 36. , 48. ])

In [15]:
arr1 * 2

array([ 2,  4,  6,  8, 10, 12])

In [16]:
arr2 - arr1

array([9. , 7.9, 6.5, 6. , 2.2, 2. ])

In [17]:
arr2 / arr1

array([10.        ,  4.95      ,  3.16666667,  2.5       ,  1.44      ,
        1.33333333])

In [18]:
arr1 ** 2

array([ 1,  4,  9, 16, 25, 36])

In [8]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[2, 3], [4, 5]])

C = A.dot(B)
print(A)
print(B)
print(C)

[[1 2]
 [3 4]]
[[2 3]
 [4 5]]
[[10 13]
 [22 29]]

* Type 변경

In [19]:
arr1.dtype

dtype('int32')

In [20]:
f_arr1 = arr1.astype(np.float64)

In [21]:
f_arr1.dtype

dtype('float64')

* Array 인덱싱

In [22]:
# arr1의 4번째 수
arr1[3]

4

In [23]:
# 2번째 부터 5번째 까지
arr1[1:5]

array([2, 3, 4, 5])

In [24]:
data3 = [[1,2,3,4], [5,6,7,8],[9,10,11,12]]
data3

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [25]:
type(data3)

list

In [26]:
arr3 = np.array(data3)
arr3

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [27]:
# 3행 2번째 요소 (0부터 count)
arr3[2,1]

10

In [28]:
# 모든 열의 3번째 수
arr3[:,2]

array([ 3,  7, 11])

* Array 마스크  
Array중 원하는 행 또는 열값 뽑아내기

In [29]:
names = np.array(['pyo','sunny','sunyoung','pyo','sunny','sunyoung','psy'])
data = np.random.randn(7,4)

In [30]:
names

array(['pyo', 'sunny', 'sunyoung', 'pyo', 'sunny', 'sunyoung', 'psy'],
      dtype='<U8')

In [31]:
data

array([[ 0.41813259, -0.08535857, -0.44696351, -0.82523926],
       [ 0.60092107,  0.07833019,  0.62782909, -0.5524852 ],
       [-0.15374578, -0.9848015 ,  0.66779927,  0.69485108],
       [-0.93307534, -0.31153257, -0.68373036,  0.10760342],
       [-0.83050992, -0.80862463,  1.19050587,  0.4648022 ],
       [ 0.96120198, -0.01371984, -0.07171276, -0.84557143],
       [ 0.44099303,  1.33336256,  0.48676824,  0.90242342]])

In [32]:
names == 'sunyoung'

array([False, False,  True, False, False,  True, False])

In [33]:
data[names == 'sunyoung' , : ]

array([[-0.15374578, -0.9848015 ,  0.66779927,  0.69485108],
       [ 0.96120198, -0.01371984, -0.07171276, -0.84557143]])

data 배열 중 행값이 *sunyoung* 인 행의 Data만을 보고 싶을 경우,  
위와 같이 3, 6 행의 값만을 추출해줌.
논리 연산자 처람 *sunyoung* 또는 *sunny*인 행 데이터 꺼내기

In [34]:
data[(names=='sunyoung')|(names=='sunny') ]

array([[ 0.60092107,  0.07833019,  0.62782909, -0.5524852 ],
       [-0.15374578, -0.9848015 ,  0.66779927,  0.69485108],
       [-0.83050992, -0.80862463,  1.19050587,  0.4648022 ],
       [ 0.96120198, -0.01371984, -0.07171276, -0.84557143]])

* 마스크를 통한 행열 검색 및 변환

In [35]:
# data array 중 4번째 column값 만 추출
data[ : , 3]

array([-0.82523926, -0.5524852 ,  0.69485108,  0.10760342,  0.4648022 ,
       -0.84557143,  0.90242342])

In [36]:
# 4열의 값이 0보다 작은 경우
data[ : , 3] < 0

array([ True,  True, False, False, False,  True, False])

In [37]:
data

array([[ 0.41813259, -0.08535857, -0.44696351, -0.82523926],
       [ 0.60092107,  0.07833019,  0.62782909, -0.5524852 ],
       [-0.15374578, -0.9848015 ,  0.66779927,  0.69485108],
       [-0.93307534, -0.31153257, -0.68373036,  0.10760342],
       [-0.83050992, -0.80862463,  1.19050587,  0.4648022 ],
       [ 0.96120198, -0.01371984, -0.07171276, -0.84557143],
       [ 0.44099303,  1.33336256,  0.48676824,  0.90242342]])

In [41]:
# 4열의 값이 0보다 작은 경우, 0으로 치환
data[ data[ : , 3] < 0 , : ] = 0
data

array([[ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [-0.15374578, -0.9848015 ,  0.66779927,  0.69485108],
       [-0.93307534, -0.31153257, -0.68373036,  0.10760342],
       [-0.83050992, -0.80862463,  1.19050587,  0.4648022 ],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.44099303,  1.33336256,  0.48676824,  0.90242342]])

* 행렬 Merge

In [42]:
a = [1,3,5,7,9]
b = [2,4,6,8,10] 
print(a+b)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [43]:
c = np.array(a)
d = np.array(b)
print(c+d)

[ 3  7 11 15 19]

In [44]:
print(sum(c+d))

55

* 행렬의 정렬(sort)

In [45]:
e = a+b
e

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [46]:
# 오름차순 정렬
np.sort(e)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [47]:
# 내림 차순 정렬
np.sort(e)[::-1]

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [50]:
# 다차원 배열 정렬 (행별 정렬)
np.sort(data)

array([[ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [-0.9848015 , -0.15374578,  0.66779927,  0.69485108],
       [-0.93307534, -0.68373036, -0.31153257,  0.10760342],
       [-0.83050992, -0.80862463,  0.4648022 ,  1.19050587],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.44099303,  0.48676824,  0.90242342,  1.33336256]])

In [51]:
# 다차원 배열 정렬 (행별 정렬)
np.sort(data, axis = 0)

array([[-0.93307534, -0.9848015 , -0.68373036,  0.        ],
       [-0.83050992, -0.80862463,  0.        ,  0.        ],
       [-0.15374578, -0.31153257,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.10760342],
       [ 0.        ,  0.        ,  0.48676824,  0.4648022 ],
       [ 0.        ,  0.        ,  0.66779927,  0.69485108],
       [ 0.44099303,  1.33336256,  1.19050587,  0.90242342]])

In [52]:
# 다차원 배열 정렬 (행별 정렬)
np.sort(data, axis = 1)

array([[ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [-0.9848015 , -0.15374578,  0.66779927,  0.69485108],
       [-0.93307534, -0.68373036, -0.31153257,  0.10760342],
       [-0.83050992, -0.80862463,  0.4648022 ,  1.19050587],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.44099303,  0.48676824,  0.90242342,  1.33336256]])